html{
    display: flex;
    justify-content: center;
    background-image:url(images/space.jpg);
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
}
canvas{
    border: 1px solid blue;
}

#container{
    color: white;
    padding: 1px;
    background-color: black;
}

header{
    text-align: center;
    height:50px;
    font-family: 'Courier New', Courier, monospace;
  }

footer{
    text-align: center;
    height: 30px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
